SETUP

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# For Jupyter
%matplotlib inline
sns.set_theme(style="whitegrid")

# Display options
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 120)

 LOAD DATA & INITIAL INSPECTION  (Part I: Data Cleaning & Prep)

In [3]:
# Change path if needed
df = pd.read_csv("vgsales.csv")

print("Initial shape:", df.shape)
print("\nColumns:")
print(df.columns)

print("\nInfo:")
print(df.info())

print("\nFirst 5 rows:")
display(df.head())

# Check missing values
print("\nMissing values per column:")
print(df.isna().sum())

Initial shape: (16598, 11)

Columns:
Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales',
       'Global_Sales'],
      dtype='object')

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
None

First 5 rows:

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Missing values per column:
Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

1.1 HANDLE MISSING VALUES & DATA TYPES

In [7]:
df_clean = df.copy()
df_clean["Year"] = df_clean["Year"].astype("Int64")

print("\nAfter converting Year dtype:")
print(df_clean["Year"].dtype)

After converting Year dtype:
Int64

In [8]:
sales_cols = ["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]
df_clean["Total_Regional_Sales"] = df_clean[sales_cols[:-1]].sum(axis=1)
zero_sales = (df_clean["Global_Sales"] == 0) & (df_clean["Total_Regional_Sales"] == 0)
print("\nRows with zero global + zero regional sales:", zero_sales.sum())

Rows with zero global + zero regional sales: 0

CHECK & REMOVE DUPLICATES

In [9]:
dup_count = df_clean.duplicated().sum()
print("\nNumber of fully duplicated rows:", dup_count)

df_clean = df_clean.drop_duplicates()
print("Shape after dropping duplicates:", df_clean.shape)

Number of fully duplicated rows: 0
Shape after dropping duplicates: (16598, 12)

1.3 "BEFORE / AFTER" SUMMARY FOR EVALUATION GRID

In [10]:
print("\n=== BEFORE CLEANING ===")
print("Shape:", df.shape)
print("Missing values:\n", df.isna().sum())

print("\n=== AFTER CLEANING ===")
print("Shape:", df_clean.shape)
print("Missing values:\n", df_clean.isna().sum())

=== BEFORE CLEANING ===
Shape: (16598, 11)
Missing values:
 Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

=== AFTER CLEANING ===
Shape: (16598, 12)
Missing values:
 Rank                      0
Name                      0
Platform                  0
Year                    271
Genre                     0
Publisher                58
NA_Sales                  0
EU_Sales                  0
JP_Sales                  0
Other_Sales               0
Global_Sales              0
Total_Regional_Sales      0
dtype: int64

In [11]:
print("\n=== BEFORE CLEANING ===")
print("Shape:", df.shape)
print("Missing values:\n", df.isna().sum())

print("\n=== AFTER CLEANING ===")
print("Shape:", df_clean.shape)
print("Missing values:\n", df_clean.isna().sum())

=== BEFORE CLEANING ===
Shape: (16598, 11)
Missing values:
 Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

=== AFTER CLEANING ===
Shape: (16598, 12)
Missing values:
 Rank                      0
Name                      0
Platform                  0
Year                    271
Genre                     0
Publisher                58
NA_Sales                  0
EU_Sales                  0
JP_Sales                  0
Other_Sales               0
Global_Sales              0
Total_Regional_Sales      0
dtype: int64